.event-container {
  padding: 20px;
}
.item-1 {
  height: 100px;
  border: 1px solid #B3332A;
  border-radius: 2px;
}
.item-2 {
  height: 100px;
  border: 1px solid #857A44;
  border-radius: 2px;
}
.item-3 {
  height: 100px;
  border: 1px solid #4D8723;
  border-radius: 2px;
}
.item-4 {
  height: 100px;
  border: 1px solid #C1C43F;
  border-radius: 2px;
}
.item-5 {
  height: 100px;
  border: 1px solid #458FB6;
  border-radius: 2px;
}
.item-6 {
  height: 100px;
  border: 1px solid #2D5979;
  border-radius: 2px;
}
.item-7 {
  height: 100px;
  border: 1px solid #DF9F48;
  border-radius: 2px;
}
.item-8 {
  height: 100px;
  border: 1px solid #95502D;
  border-radius: 2px;
}
.item-9 {
  height: 100px;
  border: 1px solid #E8593B;
  border-radius: 2px;
}
.item-10 {
  height: 100px;
  border: 1px solid #aa6b38;
  border-radius: 2px;
}
.header-item {
  padding-top: 10px;
}
.height-40 {
  height: 40%;
}
.padding-left-15 {
  padding-left: 15px;
}
.padding-right-15 {
  padding-right: 15px;
}
.padding-left-30 {
  padding-left: 30px !important;
}
.padding-top-10 {
  padding-top: 10px;
}
.color-type-1 {
  background-color: #B3332A;
}
.color-type-2 {
  background-color: #857A44;
}
.color-type-3 {
  background-color: #4D8723;
}
.color-type-4 {
  background-color: #C1C43F;
}
.color-type-5 {
  background-color: #458FB6;
}
.color-type-6 {
  background-color: #2D5979;
}
.color-type-7 {
  background-color: #DF9F48;
}
.color-type-8 {
  background-color: #95502D;
}
.color-type-9 {
  background-color: #E8593B;
}
.color-type-10 {
  background-color: #aa6b38;
}
.text-white {
  color: white;
}