<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 padding-left-30">
    <h3>list event</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center">
    <div class="col-sm-12 col-md-6 col-lg-4 event-container" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
      <div class="item">
        <div class="row height-100 padding-left-15 padding-right-15">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-item height-40">
            <span>AAAAAAAAAAAAAAAAAAAAAAAAAAAAA</span>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="padding-left-15 padding-top-10">
              <li class="text-left">オプションアイテム</li>
              <li class="text-left">オプションアイテム</li>
            </ul>
          </div>
        </div>
        <div class="row">
        </div>
      </div>
    </div>
  </div>
</div>