<div class="scrolling outer">
  <div class="inner">
    <table class="table table-striped table-hover table-condensed">
      <tr class="bg-warning first-row">
        <th class="row-text">&nbsp</th>
        <td class="second-column">サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
        <td>サンプル</td>
      </tr>
      <tr class="more-info">
        <th>
          2016 13:00 ~ 17:30 <br>
          13:00 ~ 17:30<br>
          サンプルサンプル
          <span class="glyphicon glyphicon-chevron-down"></span>
        </th>
        <td colspan="22">
        </td>
      </tr>
      <tr class="highlight-text demo-expand-item">
        <th class="row-text">サンプルサンプル<span class="glyphicon glyphicon-chevron-up"></span></th>
        <td class="second-column">サ.ン</td>
        <td>-</td>
        <td>サ.ン</td>
        <td>2</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン</td>
        <td>サ.ン></td>
      </tr>
      <tr>
        <th class="row-text">サンプルサンプル</th>
        <td class="second-column">2</td>
        <td>-</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr class="highlight-text">
        <th class="row-text">サンプルサンプル</th>
        <td class="second-column">2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr>
        <th class="row-text">サンプルサンプル<span class="glyphicon glyphicon-chevron-up"></span></th>
        <td class="second-column">2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr class="last-row">
        <th class="row-text">サンプルサンプル<span class="glyphicon glyphicon-chevron-up"></span></th>
        <td class="second-column">2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>2</td>
        <td>2</td>
      </tr>
    </table>
  </div>
</div>
<style type="text/css">
  .scrolling table {
    table-layout: inherit;
    *margin-left: -100px;/*ie7*/
  }
  .scrolling tr:last-child th {
    border-bottom: 1px solid #d8d8d8;
  }
  .scrolling td {
    vertical-align: top;
    padding: 10px;
    min-width: 80px;
    border-left: 1px solid #d8d8d8;
  }
  .scrolling th {
    vertical-align: top;
    padding: 10px;
    width: 250px;
    border-left: 1px solid #d8d8d8;
  }
  .scrolling .more-info td {
    border-left: none;
    text-align: right;
  }
  
  .scrolling .table .highlight-text td {
    color: #00b8e6;
  }
  .scrolling td {
    border-right: 1px solid #d8d8d8;
  }
  .scrolling tr td:first-child {
    border-left: 1px solid #d8d8d8;
  }
  .scrolling th {
    position: absolute;
    left: 0;
  }
  .outer {
    position: relative
  }
  .inner {
    overflow-x: auto;
    overflow-y: visible;
    margin-left: 250px;
  }
  .scrolling .last-row {
    border-bottom: 1px solid #d8d8d8;
  }
  .scrolling .second-column {
    border-left: 1px solid #d8d8d8;
  }
  .scrolling .more-info {
    height: 70px;
  }
  .scrolling .row-text {
    width: 250px;
    border-right: 1px solid #d8d8d8;
  }
  .scrolling .show-more-content {
    position: absolute;
    right: 0;
  }
  .scrolling .more-info .glyphicon-chevron-down {
    position: absolute;
    left: calc( 100vw - 62px);
    top: 50%;
    transform: translateY(-50%);
  }
  .scrolling tr .glyphicon-chevron-up {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  .scrolling .demo-expand-item {
    display: none;
  }
</style>

<script type="text/javascript">

</script>
